.card {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
.card__image {
  
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__description {
  display: flex;
  background: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}
.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  transition: 0.65s ease-in-out;
}
.card__like-button:hover {
  opacity: 50%;
}
.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
