.card {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: none;
}
.card__image {
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__description {
  display: flex;
  background: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}
.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.card__like-button_active {
  background-image: url(../images/like-active.svg);
}
.card__like-button:hover {
  opacity: 50%;
}
.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


}
.card__preview{
  font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    font-size: 12px;
}
.card__trash-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  height: 19px;
  width: 18px;
  grid-area: button;
  opacity: 100%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__trash-button:hover {
  opacity: 60%;
}
