.cards {
  padding-top: 48px;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.card__list-item {
  display: flex;
  flex-direction: column;
  width: 282px;
  list-style-type: none;
}
.card__image {
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__description {
  display: flex;
  background: #fff;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}
.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  opacity: 100%;
}
.card__like-button:hover {
  opacity: 70%;
  transition: 0.65s ease-in-out;
}
.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
