.page{
  background-color: #000;
  color: #fff;
margin: 0;
font-family: "Inter", "Helvetica", "sans-serif";
}
.page__content{

  display: flex;
  flex-direction: column;
  min-height: 100vh;
padding: 0 27px;
}
.page__section{
  max-width: 880px;
  width: 100%;
  position:relative;
  margin: 0 auto;
}